html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }
  
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;
    text-align: center;
  }

  body{
    background-image : url('./src/assets/flop.jpg');
  }
  .btn {
    background-color: #fff1d0;
  }