* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 10;
    overflow: hidden; 
  }
  
  #root {                   /* add containers */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0 auto;
    text-align: center;
    
  }

  body{
    /* background-image : url('./src/assets/raccoon_awesome.jpg'); */
  }
  .btn {
    background-color: #fdd0ff;
  }

  /* .events {
    display: flex;
    flex-direction: row; 
    gap: 1rem; 
    padding: 1rem;
    justify-content: center;
  }
  
  .events-list{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
  } */