.events-list {
    padding: 20px;
    background-color: #f9f9f9;
}

.tag-filter {
    margin-bottom: 10px;
    text-align: left;
    display: flex;
}

#tag-select {
    background-color: #c1e5ed;
    
}
  
.event-item {
    margin-bottom: 15px;
    padding: 40px;
    border: 1px solid #b8000c;
    border-radius: 5px;
    background-color: #f5e5c7;
}
  
.event-title {
    margin: 0;
}
